


button.rec-dot_active{
  box-shadow: 0 0 1px 3px rgb(244, 67, 68);
  background-color:rgb(255 0 0 / 50%); ;
}

button.rec-dot:hover,
button.rec-dot:focus  {
 
  box-shadow: 0 0 1px 3px rgb(244, 67, 68);
}


button.rec-arrow:focus, button.rec-arrow:hover{
  background-color: rgb(244, 67, 68) !important;
  box-shadow: 0 0 1px 3px rgb(244, 67, 68) !important;
}


